.app-info {
  text-align: center;
  margin-top: 30px;
}

.money-img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

h2 {
  color: var(--ion-color-primary);
  font-weight: bold;
}

p {
  color: #555;
  font-size: 15px;
  padding: 0 20px;
}

.buttons-container {
  margin-top: 40px;
  padding: 0 20px;
}

.footer-text {
  text-align: center;
  font-size: 13px;
  color: #888;
}
